<h2 id="exercises">Exercises</h2>
<p>Do your work for this exercise in a jupyter notebook named <code>feature_engineering</code> within the <code>regression-exercises</code> repo. Add, commit, and push your work.</p>

In [1]:
from pydataset import data
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
import sklearn.linear_model
import sklearn.feature_selection
import sklearn.preprocessing

<ol>
<li>
<p>Load the <code>tips</code> dataset.</p>
<ol>

In [2]:
tips = data('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips.shape

(244, 7)

In [4]:
tips = tips.rename(columns={'size': 'number_of_people'})

a. Create a column named <code>tip_percentage</code>. This should be the tip amount divided by the total bill.

In [5]:
tips["tip_percentage"] = tips.tip / tips.total_bill

In [6]:
tips.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808

b. Create a column named <code>price_per_person</code>. This should be the total bill divided by the party size.

In [8]:
tips["price_per_person"] = tips.total_bill / tips.number_of_people
tips.head()

,total_bill,tip,sex,smoker,day,time,number_of_people,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

In [10]:
# Select only numeric features

tips = tips[['total_bill', 'tip', 'number_of_people', 'tip_percentage', 'price_per_person']]
tips.head()

   total_bill   tip  number_of_people  tip_percentage  price_per_person
1       16.99  1.01                 2        0.059447          8.495000
2       10.34  1.66                 3        0.160542          3.446667
3       21.01  3.50                 3        0.166587          7.003333
4       23.68  3.31                 2        0.139780         11.840000
5       24.59  3.61                 4        0.146808          6.147500

In [11]:
tips.dtypes

total_bill          float64
tip                 float64
number_of_people      int64
tip_percentage      float64
price_per_person    float64
dtype: object

d. Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

In [12]:
def split(df):
    '''
    take in a DataFrame and return train, validate, and test DataFrames.
    return train, validate, test DataFrames.
    '''
    train_validate, test = train_test_split(df, test_size=.2, random_state=123)
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123)
    return train, validate, test

In [13]:
# Split the data
train, validate, test = split(tips)

In [15]:
print(train.shape)
print(validate.shape)
print(test.shape)

(136, 5)
(59, 5)
(49, 5)

In [16]:
target = "tip"

In [17]:
# split train into X /Y

X_train = train.drop(columns=[target])
y_train = train[target]

In [18]:
# Same validata and test

X_validate = validate.drop(columns=[target])
y_validate = validate[target]
X_test = test.drop(columns=[target])
y_test = test[target]

In [19]:
X_train.head()

     total_bill  number_of_people  tip_percentage  price_per_person
19        16.97                 3        0.206246          5.656667
173        7.25                 2        0.710345          3.625000
119       12.43                 2        0.144811          6.215000
29        21.70                 2        0.198157         10.850000
238       32.83                 2        0.035638         16.415000

In [26]:
#SCALE

scaler = sklearn.preprocessing.MinMaxScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [27]:
X_train_scaled

array([[0.30711445, 0.4       , 0.25286274, 0.15034389],
       [0.09235528, 0.2       , 1.        , 0.03225806],
       [0.20680513, 0.2       , 0.1618078 , 0.1827957 ],
       [0.41162174, 0.2       , 0.24087288, 0.45219413],
       [0.65753425, 0.2       , 0.        , 0.77564661],
       [0.78789218, 0.6       , 0.06198426, 0.38433595],
       [0.44410075, 0.6       , 0.36296815, 0.15823888],
       [0.3804684 , 0.2       , 0.18166098, 0.41121767],
       [0.31794079, 0.2       , 0.16279257, 0.32897414],
       [0.40720283, 0.6       , 0.18845606, 0.13397268],
       [0.1979673 , 0.2       , 0.13198349, 0.17117117],
       [0.19774635, 0.2       , 0.19009056, 0.17088056],
       [0.34710561, 0.2       , 0.18394107, 0.36733508],
       [0.32744145, 0.2       , 0.11287299, 0.3414705 ],
       [0.31816173, 0.2       , 0.24411394, 0.32926475],
       [0.69730446, 0.2       , 0.09911586, 0.82795699],
       [0.71122404, 0.6       , 0.15735076, 0.33391456],
       [0.33517455, 0.2       , 0.25270568, 0.35164196],
       [0.2105612 , 0.2       , 0.06480882, 0.18773612],
       [0.16438356, 0.2       , 0.12345544, 0.12699797],
       [0.46420681, 0.6       , 0.12690599, 0.17146178],
       [0.12174105, 0.        , 0.27884426, 0.32025574],
       [0.80313743, 0.6       , 0.23217502, 0.3943621 ],
       [0.43636765, 0.4       , 0.08876761, 0.26368304],
       [0.182943  , 0.2       , 0.27363917, 0.15140947],
       [0.15466195, 0.2       , 0.13115765, 0.11421099],
       [0.19443217, 0.2       , 0.15070673, 0.16652136],
       [0.60384445, 0.6       , 0.22020293, 0.26329555],
       [0.32501105, 0.2       , 0.2197642 , 0.33827376],
       [0.17896597, 0.2       , 0.14621188, 0.14617844],
       [0.14604507, 0.2       , 0.14928783, 0.10287707],
       [0.36986301, 0.2       , 0.2606632 , 0.39726824],
       [0.52982766, 1.        , 0.22114016, 0.08359973],
       [0.32589483, 0.2       , 0.09273086, 0.33943621],
       [0.29275298, 0.2       , 0.33769082, 0.29584423],
       [0.47392841, 0.4       , 0.15753041, 0.2966192 ],
       [0.56053911, 0.2       , 0.08059195, 0.64806742],
       [0.39637649, 0.2       , 0.15881125, 0.43214182],
       [0.31352187, 0.4       , 0.18246509, 0.15596241],
       [0.14427751, 0.2       , 0.56473211, 0.10055217],
       [0.25209898, 0.2       , 0.15189328, 0.2423714 ],
       [0.20790985, 0.2       , 0.24645515, 0.18424876],
       [0.32810429, 0.2       , 0.20192013, 0.34234234],
       [0.26491383, 0.2       , 0.24242394, 0.25922697],
       [0.38400354, 0.6       , 0.16460653, 0.11871549],
       [0.2638091 , 0.2       , 0.15355172, 0.2577739 ],
       [0.59346001, 0.6       , 0.19824484, 0.25646614],
       [0.15510384, 0.2       , 0.24096088, 0.11479221],
       [0.22757402, 0.2       , 0.16888894, 0.21011334],
       [0.12019443, 0.2       , 0.16488332, 0.06887533],
       [0.64803358, 0.6       , 0.2216475 , 0.29235687],
       [0.55457357, 0.4       , 0.2891683 , 0.36733508],
       [0.27198409, 0.2       , 0.23628101, 0.26852659],
       [0.20083959, 0.2       , 0.21532752, 0.17494914],
       [0.36897923, 0.6       , 0.09711663, 0.10883464],
       [0.43482103, 0.2       , 0.15891203, 0.48270851],
       [0.25762262, 0.2       , 0.16854275, 0.24963673],
       [1.        , 0.6       , 0.22318084, 0.52383028],
       [0.18868758, 0.2       , 0.37994514, 0.15896542],
       [0.14317278, 0.2       , 0.17221457, 0.0990991 ],
       [0.15908087, 0.2       , 0.1939602 , 0.12002325],
       [0.24480778, 0.2       , 0.15666751, 0.23278117],
       [0.34401237, 0.4       , 0.05531772, 0.18269883],
       [0.3451171 , 0.4       , 0.13036386, 0.18366754],
       [0.28060097, 0.2       , 0.15676382, 0.27986051],
       [0.10318162, 0.2       , 0.22292409, 0.04649811],
       [0.28524083, 0.2       , 0.13545983, 0.28596338],
       [0.77198409, 0.6       , 0.06415893, 0.37387387],
       [0.82810429, 0.2       , 0.05683151, 1.        ],
       [0.33627928, 0.6       , 0.25187046, 0.08732926],
       [0.27883341, 0.2       , 0.08887441, 0.2775356 ],
       [0.21365444, 0.2       , 0.18101594, 0.19180471],
       [0.49690676, 0.6       , 0.19883962, 0.19296716],
       [0.43504198, 0.2       , 0.14253906, 0.48299913],
       [0.42090146, 0.2       , 0.14015094, 0.46439988],
       [0.14825453, 0.2       , 0.20935539, 0.1057832 ],
       [0.99646487, 1.        , 0.10102302, 0.28819142],
       [0.53314185, 0.6       , 0.16513944, 0.21679744],
       [0.22801591, 0.2       , 0.23607806, 0.21069457],
       [0.28148475, 0.2       , 0.24341742, 0.28102296],
       [0.69001326, 1.        , 0.23669121, 0.15383125],
       [0.28568272, 0.2       , 0.1324455 , 0.28654461],
       [0.27286787, 0.2       , 0.09808364, 0.26968904],
       [0.24834291, 0.2       , 0.36147066, 0.23743098],
       [0.38930623, 0.8       , 0.30535417, 0.06207498],
       [0.5256297 , 0.2       , 0.12044392, 0.60215054],
       [0.20923553, 0.2       , 0.24265938, 0.18599244],
       [0.32081308, 0.4       , 0.16962503, 0.1623559 ],
       [0.21188688, 0.2       , 0.23985862, 0.1894798 ],
       [0.33627928, 0.2       , 0.19028405, 0.35309503],
       [0.21939903, 0.2       , 0.17519912, 0.19936065],
       [0.22867875, 0.2       , 0.33151638, 0.21156641],
       [0.29209015, 0.4       , 0.28472957, 0.13716943],
       [0.40897039, 0.2       , 0.21640743, 0.44870677],
       [0.63278833, 0.6       , 0.15750983, 0.28233072],
       [0.3857711 , 0.6       , 0.23595244, 0.11987794],
       [0.22867875, 0.2       , 0.1327216 , 0.21156641],
       [0.32567388, 0.6       , 0.14191163, 0.08035455],
       [0.25872735, 0.2       , 0.27108139, 0.2510898 ],
       [0.5735749 , 0.4       , 0.24942518, 0.3839969 ],
       [0.21254971, 0.2       , 0.18076933, 0.19035164],
       [0.33561644, 0.2       , 0.21097542, 0.35222319],
       [0.24304021, 0.2       , 0.21052834, 0.23045626],
       [0.22293416, 0.2       , 0.25689449, 0.20401046],
       [0.18051259, 0.2       , 0.1792564 , 0.14821273],
       [0.29164825, 0.2       , 0.17491882, 0.29439117],
       [0.46840477, 0.2       , 0.07114828, 0.52688172],
       [0.29562528, 0.2       , 0.16972388, 0.2996222 ],
       [0.28524083, 0.4       , 0.22542615, 0.13116342],
       [0.16040654, 0.4       , 0.18678771, 0.02169912],
       [0.21409633, 0.2       , 0.20620331, 0.19238593],
       [0.47812638, 0.2       , 0.29806748, 0.5396687 ],
       [0.29253204, 0.4       , 0.1289242 , 0.13755691],
       [0.55413168, 0.8       , 0.10513279, 0.14879396],
       [0.28457799, 0.2       , 0.13302627, 0.28509154],
       [0.0992046 , 0.2       , 0.22948943, 0.04126707],
       [0.99867433, 0.6       , 0.15382378, 0.52295844],
       [0.46266019, 0.6       , 0.07063883, 0.17044464],
       [0.20746796, 0.2       , 0.12560583, 0.18366754],
       [0.1674768 , 0.2       , 0.15592988, 0.13106655],
       [0.09235528, 0.        , 0.15161091, 0.24295263],
       [0.51966416, 0.4       , 0.13725307, 0.33672382],
       [0.30755634, 0.2       , 0.03528733, 0.31531532],
       [0.22558551, 0.2       , 0.25074769, 0.20749782],
       [0.12041538, 0.2       , 0.20463823, 0.06916594],
       [0.16062749, 0.4       , 0.18512259, 0.02189286],
       [0.33605833, 0.2       , 0.27149611, 0.35280442],
       [0.65908087, 0.2       , 0.08728347, 0.77768091],
       [0.25983208, 0.2       , 0.24900173, 0.25254287],
       [0.        , 0.        , 0.42995685, 0.        ],
       [0.39438798, 0.2       , 0.23623679, 0.4295263 ],
       [0.17012815, 0.2       , 0.14947549, 0.13455391],
       [0.12593902, 0.2       , 0.28517879, 0.07643127],
       [0.52607159, 0.6       , 0.11921224, 0.21214763],
       [0.3146266 , 0.2       , 0.24685857, 0.32461494],
       [0.39085285, 0.2       , 0.10710087, 0.42487649]])

In [28]:
k = 2

In [29]:
# Select K Best

kbest = sklearn.feature_selection.SelectKBest(sklearn.feature_selection.f_regression, k=2)

kbest.fit(X_train, y_train)

kbest_features = X_train.columns[kbest.get_support()].tolist()

print(kbest_features)

['total_bill', 'number_of_people']

e. Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

In [30]:
lm = sklearn.linear_model.LinearRegression()
rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=2)

rfe.fit(X_train, y_train)

rfe_columns = X_train.columns[rfe.support_].tolist()
rfe_columns

['number_of_people', 'tip_percentage']

f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

2. Write a function named <code>select_kbest</code> that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the <code>SelectKBest</code> class. Test your function with the <code>tips</code> dataset. You should see the same results as when you did the process manually.

In [31]:
def select_kbest(X, y, k):
    kbest = sklearn.feature_selection.SelectKBest(sklearn.feature_selection.f_regression, k=k)
    kbest.fit(X, y)
    return X.columns[kbest.get_support()].tolist()

select_kbest(X_train, y_train, 2)

['total_bill', 'number_of_people']

3. Write a function named <code>rfe</code> that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the <code>RFE</code> class. Test your function with the <code>tips</code> dataset. You should see the same results as when you did the process manually.

In [32]:
def show_features_rankings(X_train, rfe):
    """
    Takes in a dataframe and a fit RFE object in order to output the rank of all features
    """
    # rfe here is reference rfe from cell 15
    var_ranks = rfe.ranking_
    var_names = X_train.columns.tolist()
    ranks = pd.DataFrame({'Var': var_names, 'Rank': var_ranks})
    ranks = ranks.sort_values(by="Rank", ascending=True)
    return ranks

In [33]:
def select_rfe(predictors, target, k):
    # make the thing
    lm = sklearn.linear_model.LinearRegression()
    rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=k)

    # Fit the thing
    rfe.fit(predictors, target)
    
    # use the thing
    features_to_use = predictors.columns[rfe.support_].tolist()
    
    # we need to send show_feature_rankings a trained/fit RFE object
    all_rankings = show_features_rankings(predictors, rfe)
    
    return features_to_use, all_rankings

In [34]:
select_rfe(X_train, y_train, 2)

(['number_of_people', 'tip_percentage'],
                 Var  Rank
 1  number_of_people     1
 2    tip_percentage     1
 0        total_bill     2
 3  price_per_person     3)

4. Load the <code>swiss</code> dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [35]:
swiss = data('swiss')
swiss.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [36]:
train, validate, test = split(swiss)

In [37]:
X_train = train.drop(columns='Fertility')
y_train = train.Fertility

X_validate = validate.drop(columns='Fertility')
y_validate = validate.Fertility

X_test = test.drop(columns='Fertility')
y_test = test.Fertility

In [45]:
scaler = sklearn.preprocessing.MinMaxScaler()
scaler.fit(X_train)
X_train_scaled = pd.DataFrame(scaler.transform(X_train), columns=X_train.columns)
X_validate_scaled = pd.DataFrame(scaler.transform(X_validate), columns=X_validate.columns)
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [46]:
X_train_scaled.head()

   Agriculture  Examination  Education  Catholic  Infant.Mortality
0     0.647561      0.40625   0.290323  0.054508          0.122449
1     0.796341      0.50000   0.258065  0.004508          0.500000
2     0.526829      0.59375   0.354839  0.130533          0.163265
3     0.953659      0.00000   0.032258  0.997029          0.000000
4     0.509756      0.37500   0.225806  0.037910          0.755102

In [47]:
X_validate_scaled.head()

   Agriculture  Examination  Education  Catholic  Infant.Mortality
0     0.578049      0.34375   0.064516  0.021721          0.744898
1     0.791463      0.46875   0.032258  0.223361          0.622449
2     0.351220      0.28125   0.193548  0.321414          0.530612
3     0.635366      0.59375   0.290323  0.028996          0.295918
4     0.937805      0.00000   0.064516  0.994467          0.122449

In [48]:
X_test_scaled.head()

   Agriculture  Examination  Education  Catholic  Infant.Mortality
0     0.556098      0.28125   0.193548  0.976127          0.602041
1     0.662195      0.56250   0.354839  0.062705          0.142857
2    -0.079268      1.06250   1.677419  0.409221          0.295918
3     0.091463      0.87500   0.612903 -0.002561         -0.438776
4     0.134146      0.68750   0.193548  0.064037          0.448980

In [49]:
print(X_train_scaled.shape)
print(X_validate_scaled.shape)
print(X_test_scaled.shape)

(25, 5)
(12, 5)
(10, 5)

In [50]:
select_kbest(X_train_scaled, y_train, 3)

['Examination', 'Catholic', 'Infant.Mortality']

In [51]:
selected_features, all_rankings = select_rfe(X_train, y_train, 3)
print(selected_features)
all_rankings

['Agriculture', 'Examination', 'Infant.Mortality']

                Var  Rank
0       Agriculture     1
1       Examination     1
4  Infant.Mortality     1
2         Education     2
3          Catholic     3